<%= form_with model: @brave do |f|%>
  <div class="form-group"> 
    <%= f.label :name, class: "control-label" %>(10 Maximam)
    <%= f.text_field :name, class: "form-control", require: true,maxlength: "10"%>
  </div>

  <div class="form-group">
    <%= f.submit "Input name", class:"btn btn-black btn-block" %>
  </div>
<% end %>