<div class = "py-4 text-center" id ="battle-monster">
  <div class="battle-bg" id="monster-bg-image">
    <%= render "games/monster/bg" %>
  </div>
  <p class = "monster_name" id="battle-monster-name"><%= @monster.name %></p>
  <div class = "monster-image battle-monster-image" id="battle-monster-image">
    <%= render "games/monster/image" %>
  </div>
</div>

<%# /game/moster/_head.html.erbのコードに少しクラスを追加 %>
