<div class = "py-4 text-center" id ="top-monster">
  <div class="head-image" id="monster-image-bg">
    <%= render "games/monster/bg" %>
  </div>
  <p class = "monster_name" id="top-monster-name"><%= @monster.name %></p>
  <div class = monster-image id="top-monster-image">
    <%= render "games/monster/image" %>
  </div>
</div>