<div class = "py-4 text-center" id ="top-monster">
  <%= image_tag "bg/#{@monster.bg_image}", class: "monster-bg"%> 
  <p class = "monster_name"><%= @monster.name %></p>
  <div class = monster-image>
    <%= render "games/monster/image" %>
  </div>
  
</div>