@import "bootstrap";

$background-color: black;

body {
  // background-color: $background-color;
  color: white;
  background-image: url("bg/Labyrinth.jpg");
  background-size: cover;
  background-position: center center;
  font-family: fantasy;
  
}

.base-container {
  @extend .container-fluid;
    // .container-fluid：bootstrap
    //  後ろのセレクタの継承
  background-color: $background-color;
  max-width: 576px;
  padding:2rem;
  //rootが16px/その２倍
  // height: 100vh;
  
}

.game-font {
  font-size: 1.3rem;
  @media screen and (max-width: 450px){
    font-size: 1rem;
    // 450pxまでは1remで
  }
}

.game-container{
  margin:0 auto;
  border: 3px solid white;
  border-radius: 5px;
  position: relative;
  padding:2rem;
  max-width: 500px;
}

.game-name{
  background-color: $background-color;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 5px 5px 0 5px;
  transform: translate(-50%,-50%);
  // 要素の縦横のサイズを基準の数値で動く。
  border: 2px solid white;
  border-radius: 10px;
}

.text-center{
  height: 300px;
  color: black;
  font-weight: bold;
  position: relative;
  width: 100%;
}

.monster_name {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  text-shadow:2px 2px  white;
  
}

.head-image{
  height: 100%;
}

.battle-bg{
  height: 100%;
}

.monster-bg{
  width: 100%;
  height: 100%;
  border: 3px solid white;
    border-radius: 5px;
}

.monster-image{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  img{
    margin-top: 100px;
  }
}

.line{
  width: 100%;
  height: 2px;
  background-color: white;
}

.message-container{
  border: 2px solid white;
  border-radius: 5px;
}

.btn{
  color: white;
  border-color: gray;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  border-width: 2.0px;
  &:hover {
    color: white;
    border-color: pink;
    background-color: darkcyan;
  }
}

.modal-header{
  position: relative;
  .modal-title{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  }
}

.modal-body{
  width: 100%
}

.form-group{
  text-align: center;
}

.form-btn{
  color: white;
  border-color: white;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  border-width: 2.0px;
  &:hover {
    color: white;
    border-color: pink;
    background-color: blueviolet;
  }
}

.modal-content{
  border: 2px solid white;
  border-radius: 5px;
}

.modal-footer{
  position: relative;
  height:50px;
  .modal-link{
    position: absolute;
    text-decoration: none;
    color: white;
    &:hover {
      color: blueviolet;
    }
  }
  .link-edit{
    left: 100px;
  }
  .link-logout{
    right: 100px;
  }
}

.battle-message-container{
  text-align: left;
  height: 300px;
  p{
    font-size: 1rem;
  }
}

.swing {
  display: inline-block;
  animation: swing-motion .2s infinite;
}

@keyframes swing-motion{
  0% {
    transform: translate(0px, 0px) rotateZ(0deg)
  }
  25% {
    transform: translate(2px, 2px) rotateZ(1deg)
  }
  50% {
    transform: translate(0px, 2px) rotateZ(0deg)
  }
  75% {
    transform: translate(2px, 0px) rotateZ(-1deg)
  }
  100% {
    transform: translate(0px, 0px) rotateZ(0deg)
  }
}

#battle-monster{
  -webkit-transition: opacity 2s;
  // // -moz-transition: opacity 2s;
  // transition: opacity 2s;

}

.close-btn{
  display: none;
}

.open-btn{
  display: block;
}
